# Temporary files
*~

# Binary directory
condorcet/obj/gnatprove/
condorcet/obj/*.ali
condorcet/obj/*.o

# Test harness
condorcet/obj/gnattest/harness/

# Metrics files
condorcet/metrix.xml
condorcet/obj/*.metrix
